@tailwind base;
@tailwind components;
@tailwind utilities;

/* Code block styles */
.prose pre > code:not([class]),
.prose pre > code[class*="language-markdown"] {
  white-space: pre-wrap !important; 
  word-wrap: break-word !important;
  text-wrap: wrap !important;
}

.prose pre > code[class*="language-"]:not([class*="language-markdown"]) {
  white-space: pre !important;
  overflow-x: auto !important;
  text-wrap: nowrap !important;
}

/*
@layer base {
  body {
    @apply bg-gray-900 text-white;
  }
}

@layer components {
  .btn-blue {
    @apply text-white font-bold px-4 py-2 rounded bg-blue-600 hover:bg-blue-500;
  }
}
*/

@layer utilities {
  .debug * {
    @apply border-[1px] border-red-500
  }
}